# Ambientes virtuais
venv/
.env

# Logs do Airflow
logs/
airflow/logs/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Arquivos temporários
*.log
*.tmp

# Docker
*.pid

# Outros
*.DS_Store

script_delete.py
create_table.py