# Ambientes virtuais
venv/
.env

# Logs do Airflow
logs/
airflow/logs/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Arquivos temporários
*.log
*.tmpgit rm -r --cached venv logs __pycache__
git add .gitignore
git commit -m "Ignorar venv, logs e cache do Python"
git push

# Docker
*.pid

# Outros
*.DS_Store